<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Поиск</title>
</head>
<body>

<h2>Get form</h2>
<form action="/getsearch/" method="GET">
    <input type="email" name="{{ form.email.html_name }}" placeholder="Почта">
    <input type="submit" value="Подписаться">
</form>

<h2>Post form</h2>
<form action="/postsearch/" method="POST">
    {% csrf_token %}
    <input type="email" name="mail" placeholder="Почта">
    <input type="submit" value="Подписаться">
</form>

</body>
</html>
